<div class="container">
  <div class="row pt-3">
    <div class="col-12 col-md-6 mx-auto">
      <div class="row">
        <mat-form-field class="w-100 mx-3">
          <input
            type="text"
            placeholder="Search Phone"
            [(ngModel)]="searchInput"
            matInput
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="row py-3">
        <div class="col">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Years </mat-panel-title>
              <mat-panel-description>
                {{ yearChecked() ? "Filtered..." : "All Years" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let year of years">
                <mat-checkbox
                  [(ngModel)]="year.checked"
                  (ngModelChange)="filterPhones()"
                >
                  {{ year.year }}
                </mat-checkbox>
              </li>
            </ul>
          </mat-expansion-panel>
        </div>
        <div class="col">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Brands </mat-panel-title>
              <mat-panel-description>
                {{ brandChecked() ? "Filtered..." : "All Brands" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let brand of brands">
                <mat-checkbox
                  [(ngModel)]="brand.checked"
                  (ngModelChange)="filterPhones()"
                >
                  {{ brand.brand }}
                </mat-checkbox>
              </li>
            </ul>
          </mat-expansion-panel>
        </div>
      </div>
      <div class="row">
        <div
          class="col-6 py-2"
          *ngFor="let phone of phones | filter: searchInput"
        >
          <mat-card
            [ngClass]="{
              samsung: phone.brand == 'Samsung',
              lg: phone.brand == 'LG',
              xiaomi: phone.brand == 'Xiaomi',
              apple: phone.brand == 'Apple'
            }"
          >
            <mat-card-header>
              <mat-card-title>{{ phone.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="">
              <p>{{ phone.description }}</p>
              <!-- Find a way so brand and year would stick to bottom of the card -->
              <p><strong>Brand :</strong> {{ phone.brand }}</p>
              <p><strong>Year :</strong> {{ phone.release_year }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
