<div class="container">
  <div class="row pt-3">
    <div class="col-12 col-md-6 mx-auto">
      <div class="row">
        <input
          type="text"
          class="w-100"
          placeholder="Search Phone"
          [(ngModel)]="searchInput"
        />
      </div>
      <div class="row py-3">
        <div class="col">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Years </mat-panel-title>
              <mat-panel-description>
                {{ yearChecked() ? "Filtered..." : "All Years" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let year of years">
                <mat-checkbox
                  [(ngModel)]="year.checked"
                  (ngModelChange)="filterPhones()"
                >
                  {{ year.year }}
                </mat-checkbox>
              </li>
            </ul>
          </mat-expansion-panel>
        </div>
        <div class="col">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Brands </mat-panel-title>
              <mat-panel-description>
                {{ brandChecked() ? "Filtered..." : "All Brands" }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul>
              <li *ngFor="let brand of brands">
                <mat-checkbox
                  [(ngModel)]="brand.checked"
                  (ngModelChange)="filterPhones()"
                >
                  {{ brand.brand }}
                </mat-checkbox>
              </li>
            </ul>
          </mat-expansion-panel>
        </div>
      </div>
      <div class="row">
        <div
          class="col-6 py-2"
          *ngFor="let phone of phones | filter: searchInput"
        >
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{ phone.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ phone.description }}</p>
              <br />
              <p>Brand {{ phone.brand }}</p>
              <p>Brand {{ phone.release_year }}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
